<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Lista de vehiculos</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nombre
              </th>
              <th>
                Tipo
              </th>
              <th>
                # Llantas
              </th>
              <th>
                HP
              </th>
              <th>
                Motor
              </th>
              <th>
                Color
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let car of cars">
                <td>{{car.carName}}</td>
                <td>{{car.typeCar}}</td>
                <td>{{car.reels}}</td>
                <td>{{car.enginePower}}</td>
                <td>{{car.motor}}</td>
                <td>{{car.color}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
