<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-4">
            <h4 class="card-title">
                {{ 'car.headingList' | translate }}
            </h4>
          </div>
          <div class="col-8 w-100 justify-content-end text-right">
            <div class="row">
              <div class="col-12">
                <button class="btn btn-sm btn-info btn-icon" (click)="onAdd()"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th scope="col">
                {{ 'car.tableCols.carName' | translate }}
              </th>
              <th scope="col">
                {{ 'car.tableCols.typeCar' | translate }}
              </th>
              <th scope="col">
                {{ 'car.tableCols.reels' | translate }}
              </th>
              <th scope="col">
                {{ 'car.tableCols.enginePower' | translate }}
              </th>
              <th scope="col">
                {{ 'car.tableCols.motor' | translate }}
              </th>
              <th scope="col">
                {{ 'car.tableCols.color' | translate }}
              </th>
              <th ></th>
            </thead>
            <tbody>
              <tr *ngFor="let car of cars">
                <td>{{car.carName}}</td>
                <td>{{car.typeCar}}</td>
                <td>{{car.reels}}</td>
                <td>{{car.enginePower}}</td>
                <td>{{car.motor}}</td>
                <td>{{car.color}}</td>
                <td>
                  <div class="col-xs-3 text-right">
                    <button class="btn btn-sm btn-info btn-icon"><i class="fa fa-eye"></i></button>
                    &nbsp;
                    <button class="btn btn-sm btn-primary btn-icon"><i class="fa fa-edit"></i></button>
                    &nbsp;
                    <button class="btn btn-sm btn-danger btn-icon"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
